*{
  margin: 0;
  padding: 0;
}
ul, li, ol{
  list-style: none;
  padding: 0;
}
p{
  margin: 0;
}
a{
  text-decoration: none;
  color: #2d2d2d;
}
/*顶部导航统一样式*/
.topTitle{
  font-size: 0.34rem;
  line-height: 0.92rem;
  border-bottom: solid 0.01rem #ddd;
  text-align: center;
  position: relative;
}
.topTitle img{
  width: 0.32rem;
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
}